.parent-container {
    width: 80vw;
    height: 100vh;
    background-color: aliceblue;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 5vw;
    background-color:#ebe4e4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-container {
    width: 98%;
    height: 5vw;
    border: 2px solid #338deb;
    border-radius: 10px;
    margin: 1% 1%;
    position: relative;
}

.icon {
    position: absolute;
    right: 3%;
    bottom: 20%;
}

.icon > .MuiSvgIcon-root {
    height: 2em;
    width: 2em;
}

.search-bar {
    width: 100%;
    height: 100%;
}

.search-bar > .MuiInput-formControl > .MuiInputBase-input {
    font-size: 44px;
    margin: 0 2%;
}

.search-bar > .MuiInput-formControl {
    height: 100%;
}

.widget-header {
    font-size: xx-large;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.search-result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5% 2%;
}

.search-result > .detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: x-large;
    margin: 0.3em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.search-result > .detail > .detail-content {
    margin-left: 2%;
    margin-top: 0.2em;
    font-family: fantasy;
    font-size: large;
}

.not-found {
    margin-top: 20%;
    font-size: 44px;
    font-family: monospace;
    font-weight: 300;
}